@import "tailwindcss";

/* .aged {
  filter: grayscale(100%) contrast(150%) brightness(80%) sepia(10%)
} */

.playfair {
  font-family: var(--font-playfair);
}

.source {
  font-family: var(--font-source);
}

.sepia-image {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
}