@import "tailwindcss";

/* .aged {
  filter: grayscale(100%) contrast(150%) brightness(80%) sepia(10%)
} */

.playfair {
  font-family: var(--font-playfair);
}

.source {
  font-family: var(--font-source);
}

.sepia-image {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
}

.worn-text-textured {
  position: relative;
  color: #555; /* Base text color */
}

.worn-text-textured::before {
	position: absolute;
	left: 0;
	background: url('/public/grunge.jpg');
	background-size: cover;
	color: rgba(255, 255, 255, 0);
	mix-blend-mode: hard-light;
}