@import "tailwindcss";

/* .aged {
  filter: grayscale(100%) contrast(150%) brightness(80%) sepia(10%)
} */

.playfair {
  font-family: var(--font-playfair);
}

.source {
  font-family: var(--font-source);
}

.manufacturing {
  font-family: var(--font-manufacturing);
}

.libre {
  font-family: var(--font-libre);
}

.bodoni {
  font-family: var(--font-bodoni);
}

.sepia-image {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
}

.worn-text {
  color: black; /* This color will be masked */
  -webkit-mask-image: url('/public/grunge.jpg'); /* For Webkit browsers */
  mask-image: url('/public/grunge.jpg'); /* Standard syntax */
  -webkit-mask-size: cover; /* Adjust as needed */
  mask-size: cover;
}


.faded-text {
  color: rgba(47, 47, 47, 0.8); /* Semi-transparent color for fading */
  filter: blur(0.01px); /* Slight blur for a worn look */
  text-shadow: 1px 1px 2px rgba(47, 47, 47, 0.5); /* Subtle shadow for depth */
}
